@font-face {
  font-family: "montreal";
  src: url("fonts/NeueMontreal-Regular.otf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "montreal";
}

html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

header .logo {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 30px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  padding: 6px 15px;
}

header ul li a:hover,
header ul li a.active {
  background-color: #fff;
  color: black;
}

.sticky {
  position: fixed;
  width: 100%;
}

body {
  background-color: #000;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sec1 {
  padding-top: 15%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sec-magnify {
  height: fit-content;
}

.sec-grid {
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.sec-table {
  height: fit-content;
  margin-left: 10%;
}

.sec-carrousel {
  height: fit-content;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 20%;
}

.grad {
  padding-top: 10%;
  height: 80vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tableh2 {
  font-size: 70px;
}

.tablep {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.527);
  padding-top: 20px;
}

.sec1h3 {
  margin-bottom: 20px;
  background-image: linear-gradient(#6a48f2, #c792b7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 22px;
}

.gradh1 {
  font-size: 104px;
  position: relative;
  overflow: hidden;
  color: #c3b9fc;
}

.gradh3 {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #c3b9fc;
  font-size: 22px;
}

.textanim {
  margin-bottom: 20px;
}

.textanim h1 {
  font-size: 104px;
  position: relative;
  overflow: hidden;
}

.textanim h1 .sec1h1 {
  display: block;
  animation: textanimation 1s backwards;
  animation-delay: 400ms;
  transform: rotate(0deg);
}

h1:nth-child(1) .sec1h1 {
  animation-delay: 400ms;
}

h1:nth-child(2) .sec1h1 {
  animation-delay: 600ms;
}

@keyframes textanimation {
  0% {
    transform: rotate(10deg) translateY(100%);
    transition: all 2s ease;
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
  }
}

.revealitem {
  display: block;
  animation: revealitem 2s backwards;
  animation-delay: 900ms;
  position: relative;
}

@keyframes revealitem {
  0% {
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
    z-index: 999;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    z-index: 999;
  }
}

.btn {
  margin-bottom: 20px;
  background-color: #6a48f2;
  border: none;
  border-radius: 20px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 20px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #272525;
  color: white;
}

button a {
  text-decoration: none;
  color: white;
}

.no-parallax {
  background-color: black;
  z-index: 1;
}

/* .parallax h1 {
  width: 60%;
  font-size: 2rem;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/projects.jpg");
} */

#ul-carrousel ul {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

#ul-carrousel ul li {
  list-style: none;
  margin-right: 12px;
}

.tablinks {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  border-style: solid;
  border-color: rgba(71, 71, 71, 0.582);
  border-width: 0.5px;
  border-radius: 20px;
  cursor: pointer;
}

.tablinks:hover {
  background-color: #000;
  color: rgba(255, 255, 255, 0.527);
  border-color: rgba(255, 255, 255, 0.527);
}

.tablinks.active {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.slider {
  position: absolute;
  left: 10%;
  top: 80%;
  bottom: 20%;
  width: 80%;
  height: 350px;
  overflow: hidden;
  cursor: grab;
  display: none;
}

.slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 220%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  pointer-events: none;
}

.slider-img {
  position: relative;
  height: 100%;
  background-color: blueviolet;
  border: 1px none;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1;
}

.img-obj {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
}

.desc-div {
  position: absolute;
  width: 100%;
  height: 100px;
  object-fit: cover;
  background-color: #272525;
  border-bottom: 1px none;
  margin-top: 55%;
  padding-left: 20px;
  padding-top: 15px;
  z-index: 3;
}

#Other {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  margin-right: 10%;
}

.bg {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

.gradient {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/images/gradient-large.jpg");
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
  z-index: 999;
}

.reveal.show {
  transform: translateY(0px);
  opacity: 1;
  z-index: 999;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;
}

.row-grid {
  display: flex;
  flex-wrap: wrap;
}

.column-grid-1 {
  flex: 50%;
  max-width: 50%;
  padding-left: 10%;
  padding-top: 5%;
}

.column-grid-2 {
  flex: 50%;
  max-width: 50%;
  padding-right: 15%;
}

.column-grid-i {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: flex-end;
  align-content: flex-end;
}

.column-grid-img {
  vertical-align: middle;
  border-radius: 10px;
}

.avatar {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.avatar-name {
  color: #fff;
  padding-bottom: 5px;
}

.avatar-desc {
  color: rgba(255, 255, 255, 0.527);
}

.align {
  align-items: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  padding-right: 57%;
}

#align-b {
  align-items: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  padding-right: 85%;
}

footer {
  background-color: #171718;
  height: 270px;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.container div {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.container div p {
  color: white;
  padding-bottom: 20px;
}

#cr-ap,
#stay {
  color: rgba(255, 255, 255, 0.527);
  padding-bottom: 15px;
}

.container div a {
  color: rgba(255, 255, 255, 0.527);
  text-decoration: none;
  padding-bottom: 15px;
}

.container div a:hover {
  color: white;
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-div {
  display: flex;
  flex-direction: row;
}

input {
  display: block;
  height: 50px;
  width: 300px;
  min-height: 50px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  -webkit-box-flex: 1;
  border-radius: 10px;
  border: none;
  background-color: #272525;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.btn-ft {
  margin-bottom: 20px;
  background-color: #272525;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 20px;
  text-align: center;
  font-size: 16px;
  width: max-content;
  transition: 0.3s;
}

.btn-ft:hover {
  background-color: #6a48f2;
  color: white;
}
